[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
kaitaistruct = "*"
"backports.lzma" = "*"
"pathlib2" = "*"
"enum34" = "*"

[requires]
python_version = "2.7"
